@font-face {
	font-family: leiko ;
	src: url('../fonts/leiko-regular-webfont.woff2') format('woff2'),
		 url('../fonts/leiko-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  }

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: rgb(0, 0, 0);
	color: #8a8c7e;
	font-size: 200%;
	line-height: 1.25;
	font-family: leiko,sans-serif;
	font-weight: 400;
	font-style: normal;
}

a {
	color: #000000;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #373e18;
}

.codrops-demos a,
section button {
	display: inline-block;
	background: #a9a9a9;
	color: #fff;
	font-weight: 400;
	padding: 10px 20px;
	margin: 5px;
	border-radius: 2px;
	letter-spacing: 1px;
}


section {
	padding: 0.1em 0.5em 1em;
	text-align: center;
	font-size: 0.6em;
}

section p {
	max-width: 600px;
	margin: 0 auto;
	font-size: 1.5rem;
}

section h1 {
	max-width: 600px;
	margin: 0 auto;
	font-size: 1.8rem;
	padding: 2rem 0.5rem 0;
}

section button {
	border: none;
	padding: 0rem;
	outline: none;
	background: #000000;
}

.related > a {
	border: 1px solid #99cc33;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	color: #99cc33;
	opacity: 0.8;
	-webkit-transition: color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
	-webkit-backface-visibility: hidden;
}

.related a:hover {
	border-color: #82b222;
	color: #82b222;
}

.related a img {
	max-width: 100%;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
	font-size: 65%;
	font-weight: 400;
}




.sticky{
	align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left:0;
    position: fixed;
    right: 0;
    text-align: center;
	top: 0;
	z-index: 1;

}

.next-go{
	position: relative;
	margin: 0 auto;
	padding-bottom: 10%;
	text-decoration: underline;
	z-index: 99;

}

.nav-container{
	align-items: flex-start;
	z-index:110;

}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.9);
	
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 2rem;
	height: 2rem;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 10;
	
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
    min-height: 54px;

}

.overlay ul li a {
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
    transition: color 0.2s;
    
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #000000;
}

/* Nav Bar Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    z-index: 100;
}

.overlay-hugeinc nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    
   
}

.overlay-hugeinc.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  
}

.overlay-hugeinc.close nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
    transform: translateY(25%) rotateX(-35deg);
    
}

@media screen and (max-width: 25em) {
	.codrops-icon span {
		display: none;
	}
}