body {
    margin: 0;
    /*background: url(http://placekitten.com/999/500) no-repeat;*/
    background-size: cover;
    
  }
  
  .wrapper img {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
  }
  
  .slider{
    width:30%; 
    /* display: inline-block; */
  }
 
  .wrapper.slider {
    position: fixed;
    top:0;
    left: 0;
    box-shadow: 1px 3px 10px rgba(10, 10, 10, 0.5);
    /* border: 0.07rem solid rgb(100,100,100); */
    /* background: rgba(30,30,30,0.85); */
    padding: 7px 15px 8px;
    border-radius: 0 0 10px;





  }


  .slider label{
    color: rgb(255, 255, 255);
    font-family: a-otf-ryumin-pr6n,serif;
    font-weight: 300;
      font-style: normal;

  }

  #opacity-slider{
    -webkit-appearance: none;
    width: 50%;
    margin: 8%;
    
    height: 1px;
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

  }


  #opacity-slider:hover {
    opacity: 1;
  }



  #opacity-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 1%;
    background: #ffffff;
    cursor: pointer;
  }
  
  #opacity-slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 1%;
    background: #ffffff;
    cursor: pointer;
  }



  output {
    display: inline-block;
    width:25px;
  }

    @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) { 
      .slider{
        width:90%; 
        /* display: inline-block; */
      }
  
  
  }

  @media only screen and (max-width: 792px) {
    .slider{
      width:40%; 
      /* display: inline-block; */
    }


}

@media only screen and (max-width: 595px) {
  .slider{
    width:60%; 
    /* display: inline-block; */
  }


}

@media only screen and (max-width: 397px) {
  .slider{
    width:90%; 
    /* display: inline-block; */
    
  }


  #opacity-slider::-webkit-slider-thumb {

    width: 20px;
    height: 20px;

  }
  
  #opacity-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 1%;

  }


}



    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 1) {
      .slider{
        width:50%; 
        /* display: inline-block; */
      }
  
  }
   

  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .slider{
      width:40%; 
      /* display: inline-block; */
    }

}