/* shadow styling */
.shadows-container{
    bottom: 0;
    display: flex;
    flex-direction: column;
    left:0;
    position: fixed;
    right: 0;
	top: 8%;
	z-index: -10;
    max-height: 90%;
	align-items: center;
}

.shadows{
position: relative;
width:80vw;
height: 40vh;
background: #C2B291;
filter: blur(10px);
margin: 1.2rem;
left: 10rem; 
opacity: 0;
}



.content{
	margin: 8rem 5rem;
	display: flex;
	flex-direction: column;
	font-family: a-otf-ryumin-pr6n,serif;
	font-weight: 300;
	font-style: normal;
}

.section-1 h1{
	font-size: 3rem;
	color: black;
	position: relative;
	top:35%;
	left: 20%;
	max-width: 68%;
	color: rgb(31, 31, 31);

}

.section-1 p{
	font-size: 1.1rem;
	color: black;
	position: relative;
	top:35%;
	left: 20%;
	max-width: 75%;
	color: rgb(31, 31, 31);
	padding: 6%;
	line-height: 1.5;

}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .shadows-container{
        flex-direction: column;
        align-items: center;
        align-content: space-between;
        max-height: 100%;
        top: 0;
    }
    
    
    .shadows{
		left: 3rem; 
		top:3rem;
		width:100vw;
		height: 50vh;
		margin: 1rem;
    }

	.content{
		padding-top: 20%;
		margin: 5rem 0.2rem;
	}
	
	.section-1 h1{
		font-size: 1.4rem;
		line-height: 1.3;
		margin: 0.8rem;
		width: 85%;
	
	}

	.section-1 p{
		font-size: 1rem;
		line-height: 1.4;
		margin: 2%;
		margin: 10vw 3vw;
		max-width: 80%;
	
	}
	

}

