/* shadow styling */
.shadows-container{
    align-items: center;
    align-content: space-between;
    bottom: 0;
    display: flex;
    flex-direction: row;
    left:0;
    justify-content: center;
    max-width: 100%;
    position: fixed;
    right: 0;
	top: 10%;
    z-index: -100;

}

.shadows-side{
    display:flex;
    flex-flow: row wrap;
    max-width: 80%;
    justify-content: center;

}

.shadows{
background: #C2B291;
display:flex;
flex-flow: row wrap;
filter: blur(10px);
max-width: 100%;
position: relative;
width:12vw;
height: 23vh;
margin: 0.4rem;
opacity: 0;
}

/* prologue style + animation */
.prologue{
    font-size: 1rem;
    max-width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 150;
    text-align: center;
}

.first{
    opacity: 0;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    animation-duration: 15s;
}

.second{
    opacity: 0;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    animation-delay: 8s;
    animation-duration: 10s;
}


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }




/* title */
.article-container{
    align-content: space-between;
    color: rgb(0, 0, 0);
    font-size: 10.5rem;
    margin: 1vw;
    max-height: 100%;
	position: absolute;
	top:10%;
    left: 5%;
    display: flex;
    flex-flow: column wrap;
    filter: blur(0.4px);
    letter-spacing: -0.4rem;
    word-spacing: -0.5rem;
    z-index: 100;
}

.article{
    display:flex;
    flex-flow: column wrap;
    max-width: 100%;
    justify-content: center;
}

.a{
    text-indent: -2vw;
    padding-bottom: 5vh;
}

.b{
    text-indent: -2vw;
    padding-bottom: 5vh;
}

.c{
    text-indent: 50vw;
}

/* enter */

.enter{
	position: absolute;
	top:80%;
    left: 80%;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    display: block;
    transition-delay: 2s;
    z-index: 100;
}


@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}

@media only screen and (max-width: 1450px) 

{
    .c{

        text-indent: 40vw;
    }

    .title p{
        font-size: 9rem;
    }
}

@media only screen and (max-width: 792px) {
    .c{
        text-indent: -5vw;
    }

    .title p{
        font-size: 8rem;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .shadows-container{
        flex-direction: column;
        align-items: center;
        align-content: space-between;
        max-height: 100%;
        top: 0;
    }
    
    .shadows-side{
        flex-flow: row wrap;
        max-width: 95%;
        margin-top: 5%;
    }
    
    .shadows{
    max-width: 100%;
    flex-flow: column wrap;
    width:30vw;
    height: 50vh;
    margin: 0.2rem;
    }

    .article-container{
    max-height: 100%;
    font-size: 6rem;
    }



    .a{
        padding-bottom: 40%;
    }

    .b{
        padding-bottom: 40%;
    }
    .c{
        padding-bottom: 40%;
    }

    .prologue{
        font-size: 2.3rem;
        padding-left: 10%;
        width: 100%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: left;
    }



}



@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .shadows-container{
        flex-direction: column;
    }
    
    .shadows-side{
        flex-flow: row wrap;
        max-width: 90%;
    }
    
    .shadows{
    max-width: 80%;
    flex-flow: column wrap;
    width:9vw;
    height: 35vh;
    margin: 0.3rem;
    }

    .title p{
        font-size: 7rem;
        margin-top: 10%;
        z-index: 100;
        
    }


    .c{
        padding-top: 20%;
        text-indent: 25vw;
    }

}


